@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter Variable', Arial, Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template:
    'header header' auto
    'search main' auto
    'sidebar main' 1fr
    'footer footer' auto / 16rem 3fr;
  width: 100%;
  height: 100svh;
  max-height: 100svh;
  gap: 0.5rem 1rem;

  & > * {
    padding: 0.5rem;
  }
}

.search {
  grid-area: search;
}

.header {
  grid-area: header;
  align-self: center;
}

.sidebar {
  grid-area: sidebar;
  min-height: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
